<% [7, 30, 'Total'].each do |day| %>
  <div style="margin-top:30px;">
    <h2>
      <% if day.is_a? String %>
        <%= day %>
      <% else %>
        Last <%= day %> Days
      <% end %>
    </h2>
    <table class="table table-responsive table-hover table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
      <% dash.overall_platform(day).each do |key, value| %>
        <tr>
          <td><%= key.capitalize %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
